#tudo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container-login {
    width: 350px;
    height: 370px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.cadastrar {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    width: 200px;
    padding: 5px;
}

.login {
    margin: 20px;
    padding: 20px;
    background-color: white;
    width: 210px;
    height: 290px;
    border-radius: 30px;
}

#container-botao{
   position: relative;
   bottom: -110px;
   display: flex;
   justify-content: center;
}

#botao{
    cursor: pointer;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
