<div id="tudo">
  <div id="container-login">
    <div class="login">
      <div style="margin-top: 20px; background-color: blue;">
        <h1>Login</h1>
      </div>
      <div>
        <input type="text" placeholder="Nome" class="cadastrar" [(ngModel)]="nome">
        <input type="text" placeholder="Sobrenome" class="cadastrar" [(ngModel)]="sobrenome">
      </div>
      <div style="margin-top: 120px;">
        <button id="botao" (click)="VerEFicar()">Logar</button>
      </div>
    </div>

  </div>
</div>