*{
    margin: 0px;
}

#container-produtos{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista{
    width: 390px;
    height: 390px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#produtos{
    margin-bottom: 7.5px;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    width:90vw;
    height: 90vh;
}

#titulo{
    background-color: white;
    padding: 5px;
    border-radius: 30px;
    width: 200px;
    margin-left: 70px;
    margin-top: 15px;
}

.produto{
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    margin-left: 60px;
    margin-top: 7.5px;
    width: 200px;
}

.botoes{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}